.venv
.env
migrations
generateEncryptionKey.py
pushDockerhub.bat
**/__pycache__/
.pyc
profilerApp/src/data
Documentatie
.DS_Store
node_modules
/dist
profilerApp/.pytest_cache
profilerApp/.env.development
profilerApp/.env.test
profilerApp/.env.production
frontend/dist/
local_installation/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
