
<div class="col-md-3 mt-3">
  <form id="csvForm" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="csvSeperator"> Choose Delimiter</label>
        {{form.csvSeperator (id="csvSeperator", class="form-control")}}
        <label for="headerRow"> Choose header row</label>
        {{form.headerRow (id="headerRow", class="form-control")}}
        <label for="quoteChar"> Choose quote char</label>
        {{form.quoteChar (id="quoteChar", class="form-control")}}
        {{form.csvFile (accept=".csv", class="form-control mt-3", type="file")}}
        {{form.submit (class="btn btn-primary form-control mt-3") }}
    </div>
  </form>
</div>
<div class="row" id="csvProfilerData">
</div>

<template id="templateCsvColumn">
  <div class="col-md-6">
      <div class="card mb-4">
          <div class="card-body">
              <h3 class="card-title columnName text-center"></h3>
              <div class="row">
                  <div class="col-md-4">
                      <div class="card mb-2 text-center" style="border-color: #fe5000;">
                          <div class="card-body">
                              <h5 class="card-title">Type</h5>
                              <p class="card-text columnType"></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-2 text-center" style="border-color: #fe5000;">
                          <div class="card-body">
                              <h5 class="card-title">Length</h5>
                              <p class="card-text columnLength"></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card mb-2 text-center" style="border-color: #fe5000;">
                          <div class="card-body">
                              <h5 class="card-title">Unique Values</h5>
                              <p class="card-text uniqueValues"></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="card mb-2 text-center" style="border-color: #fe5000;">
                          <div class="card-body">
                              <h5 class="card-title">Statistics</h5>
                              <p class="card-text averageValue"></p>
                              <p class="card-text minValue"></p>
                              <p class="card-text maxValue"></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card mb-2 text-center" style="border-color: #fe5000;">
                          <div class="card-body">
                              <h5 class="card-title">NaN Values</h5>
                              <div class="progress">
                                  <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 5%;"></div>
                              </div>
                              <p class="card-text nanValues text-muted"></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

{% endblock%}
{% block contentScripts %} 
<script src="{{ url_for('static', filename='scripts/csvProfiler.js') }}"></script>

{% endblock %}