{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="offset-md-10">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addTableModal">
                Add Table
            </button>    
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table" id="connectionTable">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Unique Table Name</th>
                        <th scope="col">Connection ID</th>
                        <th scope="col">Schema</th>
                        <th scope="col">Table</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table rows will be populated dynamically -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addTableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addTableForm">
                    <div class="modal-body">
                        <div class="mb-3">
                            {{ form.uniqueTableName.label(class="form-label") }}
                            {{ form.uniqueTableName(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.connectionId.label(class="form-label") }}
                            {{ form.connectionId(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.schema.label(class="form-label") }}
                            {{ form.schema(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.table.label(class="form-label") }}
                            {{ form.table(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block contentScripts %}
<script src="{{ url_for('static', filename='scripts/tables.js') }}"></script>
{% endblock %}