profilerApp/data/csvFiles/*
profilerApp/migrations

profilerApp/**/__pycache__
profilerApp/**/*.pyc
profilerApp/**/*.pyo
profilerApp/**/*.pyd

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

*.log
*.tmp
venv/
.env/