@import url('https://fonts.googleapis.com/css2?family=Aptos:wght@400;700&display=swap');


body {
    font-family: 'Aptos', sans-serif;
  }

.grey{
    background-color: #5b5d62;
    color:white;
}
.orange{
    background-color: #fe5000;
    color:white;

}

.tooltip-inner {
    background-color: #5b5d62; 
    color: #fff; 
    font-size: 1.2rem; 
}

